aclocal.m4
autom4te.cache/
config.log
configure
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
*.o
.libs/
Makefile
Makefile.in
ar-lib
compile
config.guess
config.status
config.sub
depcomp
install-sh
*.la
libtool
missing
.deps/
.dirstamp
.libs/
*.lo
Doxyfile
